a {

/* Pale blue */
color: hsl(225, 100%, 94%);
 /*Bright blue */
 color: hsl(245, 75%, 52%);
 /*Very pale blue*/
 color: hsl(225, 100%, 98%);
 /*Desaturated blue*/
 color: hsl(224, 23%, 55%);
 /*Dark blue*/
 color: hsl(223, 47%, 23%);

}